body, div, a {
    padding:0;
    margin:0;
    font-family: Cambria, Cochin, serif;
    background-color: lightseagreen;
}

#calculator {
    background-color: #FA8072;
    width: 20em;
    height: 30em;
    border: 3px #000000 solid;
    margin: 10px auto;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#calculator a {
    display: block;
    float: left;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    background-color: #f7ef6a;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: #465c8b;
}

#numbers, #operators {
	margin: auto;	
}

#operators a {
	width: 45px;
	height: 45px;
	font-size: 39px;
	padding: 2px;
	margin: 5px 6px;
}

#numbers a {
	width: 50px;
	height: 50px;
	font-size: 32px;
	padding: 10px;
	margin: 5px 15px;
}

#total {
    height: 70px;
    width: 300px;
    margin: auto;
    background-color: #dfdce3;
    margin-bottom: 5px;
    text-align: right;
    font-size: 60px;
    border-radius: 8px;
    padding: 3px;
    color: #465c8b;
}/*Trying to highlight on mouse hover*/
mousehover {
     background: lightblue;
   }
